@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
  box-sizing: border-box;
}

body {
	margin: 0;
}

body._lock {
	overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

.button {
	width: 180px;
	height: 42px;
	border-radius: 20px;
	background: black;
	color: white;
	font-family: 'Gilroy-Bold';
	font-size: 18px;
	line-height: 22px;
	border: black;
	cursor: pointer;
}

.active {
	color: black
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.description {
	font-size: 18px;
	line-height: 21.83px;
	font-family: 'Gilroy-Medium';
	text-align: center;
}

.heading {
	font-size: 34px;
	line-height: 42.09px;
	font-family: 'Gilroy-Bold';
	text-align: center;
	margin: 0;
}

.header {
	position: sticky;
	top: 0;
	width: 100%;
	background-color: white;
	z-index: 10;
}

.header__container {
	max-width: 65vw;
  height: 87.94px;
	border-bottom: 1.5px solid rgba(130, 130, 130, 1);
}

.header__menu {
	display: flex;
	justify-content: space-between;
}

.header__nav {
	height: 87.94px;
	display: flex;
	width: 100%;
}

.header__list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-family: 'Gilroy-Bold';
	font-size: 18px;
	line-height: 22.28px;
	margin: auto;
}

.header__link {
	color: #828282;
	text-decoration: none;
}

.header__burger {
	display: none;
}

.home__container {
	max-width: 65vw;
	padding-bottom: 104px;
}

.home__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 188.5px;
}

.home__name {
	font-size: 47.34px;
	line-height: 58.61px;
	margin-bottom: 30.64px;
	margin-top: 39.69px;
	font-family: 'Gilroy-Bold';
}

.home__description {
	padding-top: 49.67px;
}

.home__switcher {
	transform: rotate(-90deg);
	max-width: 21px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 20px;
}

.home__switcher-item {
	padding-left: 2px;
	padding-right: 2px;
	color: #828282;
	font-size: 16px;
	line-height: 19.81px;
	font-family: 'Gilroy-Bold';
	text-decoration: none;
	margin: 0;
}

.home__photo {
	width: 100%;
}

.home__photo_min {
	display: none;
}

.about-me__container {
	background-color: #F6F6F6;
	height: 506px;
	padding-top: 110px;
}

.about-me__description:not(:last-child) {
	padding-bottom: 15px;
}

.skills__container {
	max-height: 610px;
	padding-top: 90px;
}

.skills__decription {
	padding-top: 69px;
	padding-bottom: 83px;
	margin: 0;
}

.skills__list {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 110px;
}

.skills__item {
	width: 166.46px;
	height: 206.27px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.skills__item-description {
	text-align: center;
	padding-bottom: 15px;
	font-family: 'Gilroy-Bold';
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0em;
	color: rgba(130, 130, 130, 1);
}

.skills__stars-icon:not(:last-child) {
	margin-right: 9px;
}

.portfolio__container {
	padding-top: 110px;
	background-color: #F6F6F6;
}

.portfolio__list {
	padding-top: 47px;
	padding-bottom: 99px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portfolio__item {
	padding-bottom: 44.88px;
	width: 65%;
}

.portfolio__item_min {
	display: none;
}

.portfolio__link {
	color: Black;
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0em;
}

.contacts__container {
	max-height: 622px;
	padding-top: 114px;
	text-align: center;
}

.contacts__description {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 30px;
}

.contacts__list {
	display: flex;
	justify-content: center;
	padding-top: 86px;
	padding-bottom: 45.7px;
}

.contacts__item:not(:last-child) {
	padding-right: 61px;
}

.contacts__like {
	margin: 0;
	padding-bottom: 100px;
	font-family: 'Gilroy-Medium';
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0em;
	color: #828282;
}


/* adaptive layout */

@media (max-width: 767px) {

	.header {
		height: 0;
	}

	.header__container {
		height: 0;
		border-bottom: 0;
	}

	.header__menu {
		justify-content: flex-end;
	}

	.header__nav {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		background-color: white;
		padding: 0px 30px 30px 30px;
		transition: right 0.3s ease 0s;
		overflow: auto;
	}

	.header__nav._active {
		right: 0;
	}

	.header__list {
		display: block;
		margin: 0;
		padding-top: 70px;
	}

	.header__item:not(:last-child) {
		margin-bottom: 30px;
	}

	.header__burger {
		z-index: 5;
		display: block;
		position: absolute;
		right: 30px;
		top: 65px;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}

	.header__burger span,
	.header__burger::before,
	.header__burger::after {
		left: 0;
		position: absolute;
		height: 15%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: black;
	}

	.header__burger::before,
	.header__burger::after {
		content: '';
	}

	.header__burger::before {
		top: 0;
	}

	.header__burger::after{
		bottom: 0;
	}

	.header__burger span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.header__burger._active span {
		transform: scale(0) translate(0px, -50%);
	}

	.header__burger._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
		background-color: rgba(130, 130, 130, 1);
	}

	.header__burger._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
		background-color: rgba(130, 130, 130, 1);
	}

	.home__switcher {
		/* display: none; */
		/* z-index: 5; */
	}



}

@media (max-width: 479px) {

	.home__container {
		padding-left: 25px;
		padding-bottom: 70px;
	}

	.home__content {
		display: block;
		margin-bottom: 40px;
		padding: auto;
	}

	.home__name {
		margin: 0;
		padding-top: 21px;
		padding-bottom: 23px;
	}

	.home__description {
		padding: 0;
		margin: 0;
		max-width: 155.65px;
		text-align: left;
	}

	.home__switcher {
		display: none;
		z-index: 5;
		position: absolute;

	}

	.home__switcher._active {

	}

	.home__background {
		margin-top: 36.94px;
		padding-left: auto;
	}
	
	.home__photo {
		display: none;
	}

	.home__photo_min {
		display: block;
	}

	.about-me__description {
		padding-left: 25px;
		padding-right: 25px;
	}

	.skills__container {
		max-height: none;
	}

	.skills__decription {
		padding-top: 50px;
		padding-bottom: 40px;
	}

	.skills__list {
		flex-direction: column;
		align-items: center;
		margin-bottom: 80px;
	}

	.skills__item {
		margin-top: 40px;
	}

	.skills__item:not(:last-child) {
		margin-bottom: 40px;
	}

	.portfolio__container {
		padding-top: 80px;
	}

	.portfolio__list {
		padding-top: 70px;
		padding-bottom: 0;
	}

	.portfolio__list:last-child {
		padding-bottom: 80px;
	}

	.portfolio__item {
		display: none;
	}

	.portfolio__item_min {
		display: block;
		padding-bottom: 33px;
	}

	.contacts__container {
		padding-top: 82px;
	}

	.contacts__description {
		padding-top: 25px;
		padding-bottom: 40px;
	}

	.button {
		height: 42px;
		width: 316px;
		border-radius: 50px;
	}

	.contacts__item:not(:last-child) {
		padding-right: 50px;
	}

	.contacts__like {
		padding-bottom: 90px;
	}
	
}

@media (min-width: 479px) and (max-width: 984px) {

	.skills__item {
		margin: 10px;
	}

.skills__stars-icon {
	max-width: 3vw;
	min-height: 3vw;
}

.skills__stars-icon:not(:last-child) {
	margin: 0;
}

}

